# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# =========================
# Environnements & secrets
# =========================
.env
.env.*
*.env

# =========================
# Docker
# =========================
*.log
docker-compose.override.yml

# =========================
# Kafka / Streaming data
# =========================
data/
kafka-data/
zookeeper-data/
*.offset
*.checkpoint

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build / temp
# =========================
dist/
build/
